.navbar-icon-important-dates-import::before {
  background-image: url('../icons/import.svg');
}
.navbar-icon-important-dates-import.active::before {
  background-image: url('../icons/import-black.svg');
}

.field-name-field-single-important-date-inst .field-items {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  padding: 2px;
}

.field_imp_academic_status .field-items {
  -webkit-flex-direction: column;
  flex-direction: column;
}

.field_imp_academic_status .field-item {
  padding-bottom: 5px;
}

/**
 * Hide help text on CKEditor text fields.
 * Hidden because they are small and the help text takes up a large amount of
 * space.
 */
.filter-wrapper {
  display: none;
}

/**
 * Style Deployment Buttons
 */
.deployButtons ul {
  list-style: none;
}

.deployButtons ul li {
  display: inline-block;
}

.deployButtons li a {
  display: block;
  width: 200px;
  border: 1px solid #aaa;
  background: #eee;
  padding: 2px 5px;
  text-align: center;
}

.deployButtons .preview {
  width: 416px;
}

.deployButtons .delete,
.deployButtons .delete:link,
.deployButtons .delete:hover,
.deployButtons .delete:visited {
  background: #cb1d57;
  color: white;
  border: 1px solid #ba1d57;
}

/**
 * Hide edit/delete buttons since they do not function correctly.
 */
.field-name-field-single-important-date .field-operations,
.field-name-field-single-important-date thead th:last-child,
.action-links-field-collection-add {
  display: none;
}

.field-name-field-single-important-date .field-collection-item-field-single-important-date-inst {
  background: rgba(0, 0, 0, .03);
  margin: 0 1px;
}
